#test {
	position: absolute;
	visibility: hidden;
	width: 100%;
}

#start{
	position: absolute;
	width: 600px;
	margin-left: 25%;
	padding: 0px;
}

.reply{
	width: 100%;
	font-size: 32px;
}

td{
	 text-align: center;
}

table{
	width: 100%;
}

#result {
	visibility: hidden;
	position: absolute;
	margin-top: 20%;
	margin-left: 20%;
	background-color: white;
}

div{
	text-align: center;
}